@model WebMySQL.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DTN_ID" class="control-label"></label>
                <input asp-for="DTN_ID" class="form-control" />
                <span asp-validation-for="DTN_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTN_DESTINATION" class="control-label"></label>
                <input asp-for="DTN_DESTINATION" class="form-control" />
                <span asp-validation-for="DTN_DESTINATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
